:root {
    --servers-bar-bg-color: #333333;
    --servers-bar-fg-color: rgba(255,255,255,.3);
    --channels-bg-color: #262626;
    --fg-color: rgba(255,255,255,.3);
    --channels-bg-hover-color: rgba(255,255,255,.05);
    --channels-selected: #141414;
    --chat-title-bar-bg: #141414;
    --chat-bg-color: #2F2F2F;
    --chat-form-bg-color: #3B3B3B;
    --users-sidebar: #262626;
    --contextual-menu-bg: #444444;
    --accent-bg-color: #7883D5;
}
* {
    border-radius: 0 !important;
}
/* Titlebar */
.titleBar-AC4pGV {
    -webkit-app-region: drag;
    z-index: 3001;
    background-color: var(--channels-bg-color)
}


.scroller::-webkit-scrollbar-thumb {
    border: 0!important;
    background-color: var(--channels-bg-hover-color)!important;
    border-radius: 0 !important
}
.scroller::-webkit-scrollbar-track-piece {
    border: none!important;
    background-color: var(--chat-bg-color)!important;
}
.scroller::-webkit-scrollbar-thumb:focus {
    border: none!important;
    background-color: #455258!important;
}
.scroller::-webkit-scrollbar {
    width: 8px!important;
}

/* Servers */

.guilds-wrapper {
    background-color: var(--servers-bar-bg-color);
}

.guilds-wrapper .guilds .guild .guild-inner {
    background: var(--servers-bar-bg-color) !important;
    border-radius: 100% !important;
}

.guilds-wrapper .guilds .guild {
    height: 50px;
    position: relative;
    width: 50px;
    z-index: 1;
}

.guilds-wrapper .guilds .friends-icon {
    background-image: url(https://lh5.ggpht.com/SH0GFeQzs7w6RZoQ5PIxndvUPvoB1PB8eW_p28oeiRzw8P0MOThX_n_6H0iuJ1LKD9FT=w300);
}

.guilds-wrapper .guilds .guild .guild-inner a {
    color: var(--servers-bar-fg-color);
}

/* Server selected bar */

.guilds-wrapper .guilds .guild.selected:before {
    background: transparent !important;
    width: 54px;
    height: 54px;
    border: 3px solid #fff;
    border-radius: 100% !important;
    margin-left: 10px !important;
    margin-top: -30px;
    z-index: 10000000;
}

/* Add/Join server */

.guilds-wrapper .guilds-add {
    -webkit-transition: border-color .25s ease, color .25s ease;
    background: var(--accent-bg-color);
    border: 0;
    border-radius: 50% !important;
    color: #FFF;
    transition: border-color .25s ease, color .25s ease;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.guilds-wrapper .guilds-add:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-color: transparent;
    color: #FFF;
}

/*Dialog create server*/

.create-guild-container.deprecated .create-or-join .form-inner {
    -webkit-box-sizing: border-box;
    background-color: #202020;
    background-image: none;
    background-position: 0 100%, 100% 100%;
    background-repeat: no-repeat;
    background-size: 155px auto, 75px auto;
    box-sizing: border-box;
    height: 420px;
    padding: 30px 24px;
    width: 520px;
    border-radius: 0
}

.create-guild-container.deprecated .action {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
    -webkit-box-sizing: border-box;
    background: #29292A;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    width: 228px;
}

.create-guild-container.deprecated .action.create .action-icon {
    background: url(https://image.flaticon.com/icons/png/512/265/265674.png);
    background-size: 38%;
    height: 27%;
    background-position: center;
    background-repeat: no-repeat;
}

.create-guild-container.deprecated .action.join .action-icon {
    background: url(https://image.flaticon.com/icons/png/512/653/653272.png) 50% no-repeat;
    background-size: 40%;
    height: 78px;
}

.create-guild-container.deprecated .create-or-join .actions .or {
    background-image: url(https://image.flaticon.com/icons/png/512/261/261956.png);
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    background-size: 52px, 52px;
    color: transparent;
    font-size: 22px;
    font-weight: 500;
    height: 100%;
    left: 0;
    line-height: 368px;
    padding-top: 48px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.form-deprecated .btn-primary,
.form.deprecated .btn-primary {
    background-color: #3191D9;
    border-radius: 0;
    color: #fff;
}

/* Server notification */

.guilds-wrapper .guilds .guild.unread:before {
    background: transparent !important;
    width: 54px;
    height: 54px;
    border: 3px solid var(--accent-bg-color);
    border-radius: 100% !important;
    margin-top: -30px;
    margin-left: 10px;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
}

.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

/* Channels */
.container-PNkimc {
    background-color: var(--channels-bg-color);
    contain: layout;
    min-height: 0;
    position: relative;
}
/* Header */
.header-2o-2hj {
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
    -webkit-box-sizing: border-box;
    -webkit-transition: background-color .15s ease;
    align-items: center;
    box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
    box-sizing: border-box;
    color: var(--fg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    height: 48px;
    padding: 0 12px 0 16px;
    transition: background-color .15s ease;
    z-index: 3;
}
.header-2o-2hj:hover {
    background-color: var(--channels-bg-hover-color);
}
.base-3dtUhz{border-radius: 0;}
.content-20Aix8 {
    -ms-flex-align: center;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-sizing: border-box;
    align-items: center;
    border-radius: 3px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    height: 32px;
    margin: 0;
    overflow: hidden;
    padding: 0 8px;
}
.nameUnreadText-DfkrI4, .nameUnreadVoice-EVo-wI {
    color: var(fg-color);
}
.unread-1Dp-OI {
    background: var(--accent-bg-color);
    border-radius: 0 6px 6px 0 !important;
    height: 8px;
    left: 0;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 4px;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
}
.nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {
    color: var(--fg-color);
}
.contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
    background-color: var(--channels-bg-hover-color);
    border-radius: 0
}
.contentSelectedText-3wUhMi {
    background-color: var(--channels-selected);
    border-radius: 0;
}
.colorDefaultText-oas-QM, .colorDefaultVoice-3wYlhb, .colorHoveredText-OZnAgu, .colorHoveredVoice-1kucsK, .colorLockedText-1VRkPt, .colorLockedVoice-2UlBjl, .colorSelectedText-1y4Wvs, .colorSelectedVoice-Xcb_9R, .colorUnreadText-2t7XRb, .colorUnreadVoice-137o4S {
    color: var(--fg-color);
}
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H {
    color: var(--fg-color);
}
/* User container */
.container-2Thooq {
    -ms-flex-align: center;
    -ms-flex-negative: 0;
    -webkit-box-align: center;
    align-items: center;
    background: #1B1B1B;
    color: var(--fg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 400;
    height: 93px !important;
    margin-bottom: 1px;
    padding: 0 10px;
    box-shadow: 0 -20px 20px -20px rgba(0, 0, 0, 0.2);
}
/* Title channel chat */
.theme-dark .title-3qD0b- {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
    background: var(--chat-title-bar-bg);
    box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
}
.titleText-3X-zRE {
    color: var(--fg-color);
}
/* Search bar */
.theme-dark .search .search-bar {
    background-color: var(--chat-title-bar-bg);
    border: 1px solid #2F3B3F;
    border-radius: 0;
}
/* Chat */
.theme-dark .chat>.content {
    background-color: var(--chat-bg-color);
}
.theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: var(--chat-bg-color);
}
/* Markup */
.theme-dark .message-group .comment .markup pre {
    background-color: #222222 !important;
    border-color: transparent;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);*/
    border: 2px solid #0d0d0d;
    border-radius: 3px !important
}
.theme-dark .message-group .comment .markup code.inline, .theme-dark .message-group .comment .markup pre code {
    background-color: #222222 !important;
}
.theme-dark .message-group .comment .markup code.inline, .theme-dark .message-group .comment .markup pre code {
    background-color: var(--chat-bg-color);
}
.theme-dark .friends-table .messages .divider:before, .theme-dark .friends-table .messages .divider span, .theme-dark .messages-wrapper .messages .divider:before, .theme-dark .messages-wrapper .messages .divider span {
    background-color: var(--chat-bg-color);
}
.theme-dark .friends-table .messages .divider.divider-red>div, .theme-dark .messages-wrapper .messages .divider.divider-red>div {
    background: #3F6874;
    opacity: .4;
}
.theme-dark .friends-table .messages .divider.divider-red>span, .theme-dark .messages-wrapper .messages .divider.divider-red>span {
    color: #3F6874;
}
/* Chat form */
.theme-dark .chat form {
    -webkit-box-shadow: none;
    background-color: var(--chat-form-bg-color);
    box-shadow: none;
    width: 100%;
    margin-left: 0px;
    box-shadow: 0 -20px 20px -20px rgba(0, 0, 0, 0.2);
}
.theme-dark .inner-zqa7da {
    background-color: transparent
}

/* Link button */
svg[class^="attachButton"]{
    background-image: url('https://image.flaticon.com/icons/png/128/321/321834.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

svg[class^="attachButton"] > *{display: none;}
/* Bell */
svg[class^="attachButton"]{
    background-image: url('https://image.flaticon.com/icons/png/128/321/321834.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

svg[class^="attachButton"] > *{display: none;}
/* Emoji button */
.spriteNormal-3BYqCK {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}
.theme-dark .inner-3if5cm {
    background-color: #202020 !important;
    border-radius: 0;
    color:#FFF !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
.theme-dark .attachButtonDivider-3tknGJ {
    visibility: hidden
}
.theme-dark .attachButtonPlus-2l1NEU {
    fill: #59595A;
}
.attachButton-Di6YUh {
    transition: all 0.5s;
}
.attachButton-Di6YUh:hover {
    /* -webkit-transform: scale3d(1.1,1.1,1.1); */
    /* transform: scale3d(1.1,1.1,1.1); */
    fill: #fff
}
.theme-dark .attachButtonDivider-3Glu60 {
    background-color: transparent
}
.theme-dark .message-group:not(.has-divider) {
    border-bottom-color: transparent
}
/* Emojis-Desu */
.popout-3sVMXz {
    border-radius: 0;
    box-shadow: none;
    contain: layout;
    padding: 0;
    z-index: 1000;
}
#bda-qem {
    border-radius: 5px 5px 0 0;
    background: var(--servers-bar-bg-color);
    border-bottom: 1px solid rgba(0,0,0,0.1) !important;
    height: 30px;
    display: flex;
    flex-direction: row;
    padding-right: 1px !important;
}
#bda-qem button {
    border-left: 0;
    background: transparent;
    box-shadow: none;
    flex-grow: 1;
    border-radius: 0;
    color: var(--fg-color) !important;
}
#bda-qem button:hover {
    background: var(--channels-bg-hover-color);
}
#bda-qem button.active {
    background-color: var(--channels-selected);
}
.emojiPicker-3m1S-j {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-shadow: none;
    background-color: var(--servers-bar-bg-color);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.emojiPicker-3m1S-j .header-1nkwgG {
    -ms-flex-align: center;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    align-items: center;
    border-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    z-index: 100;
}
.search-bar.search-bar-light {
    -webkit-box-shadow: none;
    background-color: transparent;
    box-shadow: none;
    height: auto;
    padding: 0;
}
.search-bar.search-bar-light .search-bar-inner {
    background-color: transparent;
    border: 1px solid #222222;
    border-radius: 3px!important;
}
.search-bar.search-bar-light input {
    -webkit-box-shadow: none;
    background: transparent;
    border: none;
    box-shadow: none;
    color: var(--fg-color);
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    outline: none;
}
.search-bar.search-bar-light input::placeholder {
    color: #fff;
}
.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    background: var(--servers-bar-bg-color);
    left: 8px;
    position: absolute;
    top: 0;
    width: 93%;
    z-index: 1;
}
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
    background-color: transparent;
    border-radius: 0;
}
.theme-dark .menu-Sp6bN1 {
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.82), 0 1px 4px rgba(0,0,0,.1);
    background: var(--contextual-menu-bg);
    box-shadow: 0 0 1px rgba(0,0,0,.82), 0 1px 4px rgba(0,0,0,.1);
}
.theme-dark .item-1GzJrl:hover {
    background-color: var(--channels-bg-hover-color);
    color: #fff;
}
/* Dialog */
.form-deprecated .form-header, .form.deprecated .form-header {
    background: var(--contextual-menu-bg);
    border-bottom: 0;
    border-radius: 0;
    color: var(--fg-color) !important;
    padding: 0 40px;
}
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .form-header header {
    color: var(--accent-bg-color) !important;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 0;
    text-transform: none;
}
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .blurb-zsamaY {
    color: var(--fg-color) !important;
    font-size: 14px;
    line-height: 20px;
    opacity: .6;
}
.form-deprecated .form-inner, .form.deprecated .form-inner {
    background-color: var(--contextual-menu-bg);
    padding: 28px 40px 48px;
}
    .clipboardInputInner-1EXMA3 {
        -webkit-box-sizing: border-box;
        background: var(--contextual-menu-bg);
        border: 0;
        border-radius: 3px;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
    }
    .wrapper-O5i5-0 .instantInviteModal-3vhcvC .clipboardInputInner-RLx2hK input {
        color: #FFF;
        background: var(--contextual-menu-bg);
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        border-bottom: 1px solid var(--accent-bg-color);
    }
    .clipboardInputInner-1EXMA3 button:first-of-type:before {
        background: transparent;
        background: transparent;
    }
    .clipboardInputInner-1EXMA3 button {
        background-color: #f3f3f3;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        border-left: 0;
        color: #fff;
        height: 40px;
        position: relative;
        width: 40px;
    }
    .wrapper-O5i5-0 .instantInviteModal-3vhcvC .form-actions {
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        background-color: var(--contextual-menu-bg);
        border-top: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        text-align: left;
    }
    .checkbox {
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #FFF;
    }
/* Users */
.theme-dark .members-1998pB {
    background-color: var(--users-sidebar);
}
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background-color: var(--channels-bg-hover-color);
    color: #fff;
}
.theme-dark .memberOnline-1CIh-0 {
    color: var(--fg-color);
}

.Select-control {
    background-color: var(--contextual-menu-bg) !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    border: 0;
    color: #FFF;
}
.Select--single>.Select-control .Select-value, .Select-placeholder {
    color: #fff;
}
.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label, .has-value.Select--single>.Select-control .Select-value .Select-value-label {
    color: #FFF;
}
.form-deprecated .Select-control, .form.deprecated .Select-control {
    border: 0;
    font-size: 16px;
    height: auto;
    margin-top: 10px;
    width: 100%;
}
.form-deprecated .Select-control .Select-arrow, .form.deprecated .Select-control .Select-arrow {
    top: 0;
}
.form-deprecated .is-focused:not(.is-open)>.Select-control, .form.deprecated .is-focused:not(.is-open)>.Select-control {
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
}
.Select-menu-outer {
    background-color: var(--contextual-menu-bg);
    border: 1px solid;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    border-color: transparent;
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
}
.Select-option {
    -webkit-box-sizing: border-box;
    background-color: var(--contextual-menu-bg);
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: block;
    padding: 8px 10px;
}
.form-deprecated .Select-option, .form.deprecated .Select-option {
    color: #FFF;
}
.form-deprecated .Select-option.is-focused, .form.deprecated .Select-option.is-focused {
    background: var(--channels-bg-hover-color);
    color: #FFF;
}
.Select-option.is-selected {
    background-color: var(--channels-bg-hover-color);
    color: #FFF;
}
.wrapper-O5i5-0 .instantInviteModalAdvanced-3qJETM .form-actions {
    background-color: var(--contextual-menu-bg);
    border-top: none;
    padding-top: 0;
}
.wrapper-O5i5-0 {
    background: var(--contextual-menu-bg);
    border-radius: 5px;
    height: 246px;
    position: relative;
    width: 440px;
}
.theme-dark .typing-2GQL18 {
    background-color: transparent;
}
.theme-dark.contextMenu-HLZMGh {
    background-color: var(--contextual-menu-bg);
    border-radius: 0;
    border: none !important;
    border-color: transparent !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}
.theme-dark .autocomplete-1vrmpx {
    background-color: var(--contextual-menu-bg);
}
.theme-dark .selectorSelected-1_M1WV {
    background-color: var(--channels-bg-hover-color);
}
.theme-dark .modal-3HD5ck {
    -webkit-box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
    background-color: var(--contextual-menu-bg);
    box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
}
.checkbox-2tyjJg {
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    border-radius: 100% !important;
}
.channels-Ie2l6A {
    -ms-flex-negative: 0;
    background-color: var(--channels-bg-color);
    flex-shrink: 0;
    width: 240px;
}
.theme-dark .headerBar-UHpsPw {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
    background: var(--chat-title-bar-bg);
    box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
}
.theme-dark #friends {
    background-color: var(--chat-bg-color);
}
.theme-dark #friends .friends-table .friends-row:hover {
    background: var(--channels-bg-hover-color);
    border-color: transparent;
}
.theme-dark #friends .tab-bar .tab-bar-item.selected {
    background-color: transparent !important;
    color: #FFF;
    border-bottom: 2px solid #FFF;
}
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected) {
    background-color: transparent;
    border-bottom: 2px solid rgba(255,255,255,0.2);
}
.theme-dark .item-1GzJrl {
    color: #FFF !important;
}
.theme-dark .itemSubMenu-1vN_Yn {
    background: var(--channels-bg-hover-color) url(/assets/1988164a7c55346d32117b151f4e319d.svg) no-repeat 155px 50%;
}
.theme-dark .item-1Yvehc:hover {
    background: var(--channels-bg-hover-color);
    color: #fff;
}
.theme-dark .searchPopout-1vUlP3 {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
    background-color: var(--contextual-menu-bg);
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}
.theme-dark .itemSubMenu-1vN_Yn {
    background: var(--channels-bg-hover-color) url(/assets/1988164a7c55346d32117b151f4e319d.svg) no-repeat 155px 50%;
}
.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: var(--channels-bg-hover-color);
}
.theme-dark .headerNormal-T_seeN {
    background-color: var(--accent-bg-color);
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: var(--contextual-menu-bg);
    color: hsla(0,0%,100%,.8);
}
.theme-dark .quickMessage-1yeL4E {
    background-color: transparent;
    border-color: var(--accent-bg-color);
    color: hsla(0,0%,100%,.7);
}
.theme-dark .topSectionNormal-2-vo2m {
    background-color: var(--accent-bg-color);
}
.theme-dark .body-3ND3kc {
    background-color: var(--contextual-menu-bg);
}
.theme-dark .connectedAccount-36nQx7, .theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border-color: transparent;
}
.connectedAccount-36nQx7 {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: transparent;
    color: #fff;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: transparent;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}
#friends .friends-table .friends-row {
    -ms-flex-direction: row;
    -webkit-box-direction: initial;
    -webkit-box-orient: vertical;
    width: 200px;
    height: 300px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 30px;
    margin-right: 12px;
    overflow: hidden;
}
a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    z-index: 100000;
}
#friends .friends-table .friends-row .friends-column-name .avatar-small {
    margin-right: 0;
    width: 200px;
    background-size: cover;
    height: 150px;
    background-repeat: no-repeat;
}
#friends .friends-table .friends-row .discord-tag .username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: -90px;
    margin-bottom: -85px;
    height: 100%;
}
#friends .friends-table .friends-row .friends-column+.friends-column {
    margin-left: 10px;
}
#friends .friends-table .friends-row .friends-column-actions {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-right: 30px;
    visibility: hidden;
}
